aws-cfn-bootstrap==2.0
boto3==1.26.74
botocore==1.29.74
Brotli==1.0.9
certifi==2022.12.7
docutils==0.14
greenlet==2.0.2
importlib-metadata==6.0.0
importlib-resources==5.12.0
jmespath==1.0.1
lockfile==0.11.0
Mako==1.2.4
MarkupSafe==2.1.2
mutagen==1.46.0
mysql-connector==2.2.9
pycryptodomex==3.17
pystache==0.5.4
python-daemon==2.2.3
python-dateutil==2.8.2
python-dotenv==0.21.1
s3transfer==0.6.0
simplejson==3.2.0
six==1.16.0
SQLAlchemy==2.0.4
typing-extensions==4.5.0
urllib3==1.26.14
websockets==10.4
yt-dlp==2023.2.17
zipp==3.14.0
